body{
 margin: 0px;
 padding: 0px;
 background: rgb(255, 228, 196);
}

img{
    width: 150px;
    border-radius: 100px;
    float: left;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
}
nav{
    display: flex;
    justify-content: space-between;
    align-content: center;
    height: 80px;
    background-color: rgb(92, 25, 22);
}

nav ul{
    display: flex;
}
nav ul li a{
    margin: 30px;
    color: bisque;
    font-size: 15px;
    font-weight: 400px;

}
.first-text {
    position: absolute;
    left: 15%;
    top: 45%;
    transform: translate(-15%, -30%);

}
 .first-text p:nth-child(1){
     font-family: Arial, Helvetica, sans-serif;
     font-weight: bold;
     letter-spacing: 1px;
     font-size: 30px; 
}
.first-text p:nth-child(2){
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 60px;
}
.first-text p:nth-child(3) {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 33px;
    line-height: 30px;
}
.first-text p{
    line-height: 0px;
    margin: 45px 0px 15px;
}

.first-text button{
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
    border-radius: 15px;
    font-size: 12px;
    width: 130px;
    height: 42px;
}